#canvas1{
    border: 3px solid black;
    display: flex;
    position: absolute;
    justify-content: center;
    height: 900px;
    width: 1600px;
}

canvas {
    background-color: rgb(86, 233, 255);
}